In [1]:
import pandas as pd

In [67]:
df = pd.read_csv('items_bought_together_camera.csv')
df1 = pd.read_csv('items_bought_together_headphone.csv')
df2 = pd.read_csv('items_bought_together_keyboard.csv')
df3 = pd.read_csv('items_bought_together_laptop.csv')
df4 = pd.read_csv('items_bought_together_monitor.csv')
df5 = pd.read_csv('items_bought_together_mouse.csv')
df6 = pd.read_csv('items_bought_together_phone.csv')
df7 = pd.read_csv('items_bought_together_processor.csv')

In [68]:
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7], axis=0)

In [69]:
df = df.drop('Unnamed: 0', axis = 1)

In [70]:
df.shape

(25181, 4)

In [71]:
df.ASIN.value_counts(ascending = False)

B08PVG86GG    281
B08D6SKVVN    248
B074D2K7CZ    238
B07XVLVD22    227
B008U7SL8I    225
             ...
B08MDXXYMC      1
B06XDB34KW      1
B085B3GVJ9      1
B00005118K      1
B01GI34KL2      1
Name: ASIN, Length: 20915, dtype: int64

In [72]:
df[df.ASIN == 'B0854GB7KY']

,ASIN,name,freq_bought,freq_bought_link
98,B0854GB7KY,"2021 Newest Lenovo Ideapad 3 Laptop, 15.6"" HD ...",NaN,NaN
365,B0854GB7KY,"2021 Newest Lenovo Ideapad 3 Laptop, 15.6inch ...",NaN,NaN

In [73]:
df.isnull().value_counts()

ASIN   name   freq_bought  freq_bought_link
False  False  True         True                15871
              False        False                8713
True   False  True         True                  391
              False        False                 206
dtype: int64

In [74]:
df = df.drop_duplicates('ASIN', keep = 'first')

In [75]:
df.isnull().value_counts()

ASIN   name   freq_bought  freq_bought_link
False  False  True         True                13827
              False        False                7088
True   False  False        False                   1
dtype: int64

In [77]:
df = df.dropna()
df.shape

(7088, 4)

In [78]:
df.reset_index(drop=True, inplace=True)

In [79]:
df.to_csv('items_bought_together_all.csv')