In [2]:
import pandas as pd
import numpy as np

In [151]:
filename = "summary_all.csv"
df = pd.read_csv(filename)

In [175]:
ser1 = df.ASIN.value_counts() > 1

ser1

B0043T7FXE     True
B003L62T7W     True
B08C9T1SJ9     True
B07XY5HLLR     True
B07T541PXC     True
              ...
B07JNBCJ77    False
B08PTND3BR    False
B00JFOFJT4    False
B078ZCMVN6    False
B00FEMYST8    False
Name: ASIN, Length: 32536, dtype: bool

In [189]:
len(ser1.index[ser1.values])

998

In [193]:
to_drop = ser1.index[ser1.values].to_numpy().tolist()
len(to_drop)
df[df['ASIN'].isin(to_drop)].shape

(1996, 6)

In [194]:
df[df['ASIN'].isin(to_drop)].dropna(subset = ['price']).shape

(943, 6)

In [195]:
# duplicates with price 
df[df['ASIN'].isin(to_drop)].dropna(subset = ['price'])

,Unnamed: 0,ASIN,title,price,rating,review_count
1214,1214,B087FFFP62,"1080P Webcam with Microphone, PC Laptop Deskto...",19.19,3.8,35
1679,1679,B07MK99R14,"USB 3.0 SD Card Reader for PC, Laptop, Mac, Wi...",6.59,4.6,2096
1789,1789,B07TYXS7KJ,"SD Card Reader, Tvird - 4 in 1 SD/TF Memory Ca...",9.99,4.2,571
2225,2225,B01MDUI2U1,Fila Vertex Tablet and Laptop Backpack,38.15,4.6,54
3197,3197,B08CDT76X6,"Full HD 1080P PC Camera with Microphone, Video...",19.38,4.6,16
...,...,...,...,...,...,...
33256,33256,B075NLM1TD,20V 3.25A 65W(20V 2.25A 45W) Replacement Ac Ad...,19.99,4.4,262
33265,33265,B08CD4CM8G,New 15.6inch Laptop - Intel Quad-CPU Intel Cel...,339.99,3.9,73
33273,33273,B004AX6L2Y,Pwr+ Charger for Samsung Laptop Computer Power...,22.90,4.5,173
33279,33279,B07QC4GZCC,"MSI GE75 Raider-287 17.3inch Gaming Laptop, 14...",1389.99,4.5,55
33399,33399,B0174AUAWG,RCA Viking Pro 10inch 2-in-1 Tablet 32GB Quad ...,179.00,4.0,876

In [ ]:
df[df['ASIN'].isin(to_drop)]

In [186]:
df[~df['ASIN'].isin(to_drop)].shape

(31538, 6)

In [148]:
list1 = df.ASIN.value_counts(ascending = False)

In [149]:
list1 = pd.DataFrame(list)

In [150]:
list1

            ASIN
B0043T7FXE     2
B003L62T7W     2
B08C9T1SJ9     2
B07XY5HLLR     2
B07T541PXC     2
...          ...
B07JNBCJ77     1
B08PTND3BR     1
B00JFOFJT4     1
B078ZCMVN6     1
B00FEMYST8     1

[32536 rows x 1 columns]

In [134]:
list.reset_index(inplace=True)

In [135]:
list.columns = ['ASIN', 'number']

In [136]:
list = list.ASIN.iloc[0:998]

In [137]:
list

0      B0043T7FXE
1      B003L62T7W
2      B08C9T1SJ9
3      B07XY5HLLR
4      B07T541PXC
          ...
993    B08GZMXP7P
994    B071G5KX3X
995    B07W5YFM4D
996    B07MJVCP63
997    B08MF6H1RD
Name: ASIN, Length: 998, dtype: object

In [139]:
for i in range(len(df)):
    for j in list:
        if df.ASIN[i] == j:
            try:
                df[i].dropna(subset=['price'])
            except:
                pass

In [40]:
#.ASIN.value_counts()

B07RNGKWYB    1
B08J5DC12Y    1
B00AIGZ72C    1
B00ZWR13D4    1
B08MJRGV52    1
             ..
B08GG4F66S    1
B07KG6TR7X    1
B072QXK79J    1
B08GZ159FJ    1
B08R5F9X8Y    1
Name: ASIN, Length: 23792, dtype: int64

In [187]:
sum(df.price.isna())

9742

In [141]:
sum(df.ASIN.value_counts() == 2)

998

In [142]:
df2.shape

(23792,)

In [143]:
df.ASIN.value_counts(ascending = False)

B0043T7FXE    2
B003L62T7W    2
B08C9T1SJ9    2
B07XY5HLLR    2
B07T541PXC    2
             ..
B07JNBCJ77    1
B08PTND3BR    1
B00JFOFJT4    1
B078ZCMVN6    1
B00FEMYST8    1
Name: ASIN, Length: 32536, dtype: int64

In [21]:
df.drop_duplicates(subset ="ASIN", 
                     keep = False, inplace = True)

In [22]:
df.ASIN

0       B087T9B6X5
1       B0868VLMWK
2       B08DQ4QQ6R
3       B011PKJI2Y
4       B06XNTPN8C
           ...
3372    B07PMHHX6S
3373    B071Z66DRC
3374    B07NWZGCZ9
3375    B07QL1XR3B
3376    B000KL7J3A
Name: ASIN, Length: 3246, dtype: object

In [33]:
df.shape

(33534, 6)