In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('summary_camera.csv')
df1 = pd.read_csv('summary_headphone.csv')
df2 = pd.read_csv('summary_keyboard.csv')
df3 = pd.read_csv('summary_laptop.csv')
df4 = pd.read_csv('summary_monitor.csv')
df5 = pd.read_csv('summary_mouse.csv')
df6 = pd.read_csv('summary_phone.csv')
df7 = pd.read_csv('summary_processor.csv')

In [3]:
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7], axis=0)

In [4]:
df.head(3)

,Unnamed: 0,ASIN,title,price,rating,review_count
0,0,B087T9B6X5,Canon EOS Rebel T100 DSLR Camera with 18-55mm ...,424.00,4.7,206
1,1,B0868VLMWK,Canon EOS 4000D DSLR Camera with EF-S 18-55mm ...,479.00,4.6,46
2,2,B08DQ4QQ6R,Canon EOS 4000D / Rebel T100 Digital SLR Camer...,499.95,4.5,31

In [5]:
df = df.drop('Unnamed: 0', axis = 1)

In [12]:
df.shape

(33534, 5)

In [11]:
df = df.drop_duplicates('title', keep='first')

In [13]:
df.to_csv('summary_all.csv')