In [38]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('summary_camera.csv')
df1 = pd.read_csv('summary_headphone.csv')
df2 = pd.read_csv('summary_keyboard.csv')
df3 = pd.read_csv('summary_laptop.csv')
df4 = pd.read_csv('summary_monitor.csv')
df5 = pd.read_csv('summary_mouse.csv')
df6 = pd.read_csv('summary_phone.csv')
df7 = pd.read_csv('summary_processor.csv')

In [3]:
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7], axis=0)

In [4]:
df

,Unnamed: 0,ASIN,title,price,rating,review_count
0,0,B087T9B6X5,Canon EOS Rebel T100 DSLR Camera with 18-55mm ...,424.00,4.7,206
1,1,B0868VLMWK,Canon EOS 4000D DSLR Camera with EF-S 18-55mm ...,479.00,4.6,46
2,2,B08DQ4QQ6R,Canon EOS 4000D / Rebel T100 Digital SLR Camer...,499.95,4.5,31
3,3,B011PKJI2Y,Panasonic LUMIX FZ300 Long Zoom Digital Camera...,397.99,4.7,1161
4,4,B06XNTPN8C,Canon EOS Rebel T6 Digital SLR Camera Kit with...,444.00,4.7,914
...,...,...,...,...,...,...
6148,6148,B00UMFVV9C,ZTC RAID Series mSATA Mini or Full Size to SAT...,54.98,3,3
6149,6149,B08D3RJ5XD,"Dell Precision 3000 3551 15.6"" Mobile Workstat...",2181.89,NaN,0
6150,6150,B07SZCVNLN,"Dell Vostro 13 5390, 8th Generation Intel Core...",999.97,5,2
6151,6151,B07Z9WQTKJ,Dell REFURB 13.3 i7 8G 512G SLV (Certified Ref...,999.66,5,2
6152,6152,B07GH91SG8,Dell Alienware 17 R5 VR Ready Intel Core i7 8 ...,1569.00,NaN,0

In [5]:
df = df.drop('Unnamed: 0', axis = 1)

In [6]:
df.shape

(57158, 5)

In [59]:
for i in range(len(df)):
    if df.rating[i] is not None:
        try:
            df['rating'][i] = df.rating[i].replace(',', '.')
        except:
            pass
    else:
        df['rating'][i] = 0
    if df.rating[i] == '':        
        df.rating[i] = 0
    if df.price[i] is not None:
        try:
            df.price[i] = df.price[i].replace(',', '.')
        except:
            pass
    else:
        df['price'][i] = 0

In [76]:
df.title = df.title.str.replace('"', 'inch')

In [71]:
df

,ASIN,title,price,rating,review_count
0,B087T9B6X5,Canon EOS Rebel T100 DSLR Camera with 18-55mm ...,424.00,4.7,206
1,B0868VLMWK,Canon EOS 4000D DSLR Camera with EF-S 18-55mm ...,479.00,4.6,46
2,B08DQ4QQ6R,Canon EOS 4000D / Rebel T100 Digital SLR Camer...,499.95,4.5,31
3,B011PKJI2Y,Panasonic LUMIX FZ300 Long Zoom Digital Camera...,397.99,4.7,1161
4,B06XNTPN8C,Canon EOS Rebel T6 Digital SLR Camera Kit with...,444.00,4.7,914
...,...,...,...,...,...
33529,B08FTKLPDP,"HP 13.3 EB 830G7 i710810U 16G 51""",1925.00,NaN,0
33530,B08N6ZLKL3,Dell Latitude 5400 - 14” FHD Non-Touch - Intel...,NaN,NaN,0
33531,B00UMFVV9C,ZTC RAID Series mSATA Mini or Full Size to SAT...,54.98,3.0,3
33532,B07SZCVNLN,"Dell Vostro 13 5390, 8th Generation Intel Core...",999.97,5.0,2
33533,B07GH91SG8,Dell Alienware 17 R5 VR Ready Intel Core i7 8 ...,1569.00,NaN,0

In [46]:
df.rating[33533]

nan

In [47]:
if df.rating[33533] == np.nan:
    print('True')
else:
    print('false')

false

In [17]:
df['rating'] = df.rating.astype(float)

In [19]:
df = df.drop_duplicates('title', keep='first')

In [65]:
df.reset_index(drop=True, inplace=True)

In [77]:
df.to_csv('summary_all.csv')