In [3]:
import pandas as pd
import numpy as np

In [22]:
df = pd.read_csv('summary_camera.csv')
df1 = pd.read_csv('summary_headphone.csv')
df2 = pd.read_csv('summary_keyboard.csv')
df3 = pd.read_csv('summary_laptop.csv')
df4 = pd.read_csv('summary_monitor.csv')
df5 = pd.read_csv('summary_mouse.csv')
df6 = pd.read_csv('summary_phone.csv')
df7 = pd.read_csv('summary_processor.csv')

In [23]:
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7], axis=0)

In [82]:
df

,ASIN,title,price,rating,review_count
0,B087T9B6X5,Canon EOS Rebel T100 DSLR Camera with 18-55mm ...,424,4.7,206
1,B0868VLMWK,Canon EOS 4000D DSLR Camera with EF-S 18-55mm ...,479,4.6,46
2,B08DQ4QQ6R,Canon EOS 4000D / Rebel T100 Digital SLR Camer...,499.95,4.5,31
3,B011PKJI2Y,Panasonic LUMIX FZ300 Long Zoom Digital Camera...,397.99,4.7,1161
4,B06XNTPN8C,Canon EOS Rebel T6 Digital SLR Camera Kit with...,444,4.7,914
...,...,...,...,...,...
32768,B08FTKLPDP,HP 13.3 EB 830G7 i710810U 16G 51 inch,1925,,0
32769,B08N6ZLKL3,Dell Latitude 5400 - 14” FHD Non-Touch - Intel...,,,0
32770,B00UMFVV9C,ZTC RAID Series mSATA Mini or Full Size to SAT...,54.98,3,3
32771,B07SZCVNLN,"Dell Vostro 13 5390, 8th Generation Intel Core...",999.97,5,2
32772,B07GH91SG8,Dell Alienware 17 R5 VR Ready Intel Core i7 8 ...,1569,,0

In [25]:
df = df.drop('Unnamed: 0', axis = 1)

In [26]:
df.shape

(57158, 5)

In [27]:
df.rating

0       4.7
1       4.6
2       4.5
3       4.7
4       4.7
       ...
6148      3
6149    NaN
6150      5
6151      5
6152    NaN
Name: rating, Length: 57158, dtype: object

In [30]:
df.title = df.title.str.replace('"', ' inch')

In [31]:
df = df.fillna('')

In [33]:
df.reset_index(drop=True, inplace=True)

In [49]:
for i in range(len(df)):
    if isinstance(df.rating[i], str) == True:
        df.rating[i] = df.rating[i].replace(',', '.')

In [79]:
df.ASIN.value_counts(ascending = False)

B08Q9SNY72    1
B08LKRJBFL    1
B08T1KMQ9T    1
B06WWNKFWY    1
B08BJ1TM1T    1
             ..
B07WGXVQ9N    1
B08SK11XMD    1
B08PQGWY79    1
B07SX51F36    1
B08SKG9SBZ    1
Name: ASIN, Length: 32773, dtype: int64

In [78]:
df = df.drop_duplicates('ASIN')

In [81]:
df.reset_index(drop=True, inplace=True)

In [85]:
df.to_csv('summary_all.csv')